// Variables

$veryDarkBlue: hsl(233, 47%, 7%);
$darkDesatBlue: hsl(244, 38%, 16%);
$softVoilet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$mainTransparentWhite: hsla(0, 0%, 100%, 0.75);
$statTransparentWhite: hsla(0, 0%, 100%, 0.6);
$fontInter: "Inter", sans-serif;
$fontLexend: "Lexend Deca", sans-serif;

// Basic Reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: $veryDarkBlue;
  text-align: center;
  font-family: $fontInter;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;

  @media screen and (min-width: 55em) {
    text-align: left;
    min-height: 100vh;
  }
}

span {
  color: $softVoilet;
}

img {
  max-width: 100%;
}

.container {
  max-width: 110rem;

  @media screen and (max-width: 54.9em) {
    margin-top: 5rem;
  }
}

.card {
  max-width: 40rem;
  background-color: $darkDesatBlue;
  border-radius: 1rem;
  overflow: hidden;

  @media screen and (min-width: 55em) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    max-width: 110rem;
    min-height: 40rem;
  }

  &__img {
    position: relative;

    @media screen and (min-width: 55em) {
      width: 50%;
      min-height: 40rem;
    }

    img {
      @media screen and (min-width: 55em) {
        min-width: 50rem;
        min-height: 40rem;
      }
    }

    div {
      position: absolute;
      inset: 0;
      background-color: hsla(277, 75%, 39%, 0.6);
    }
  }

  &__content {
    margin: 3rem auto;
    padding: 0 3rem;

    @media screen and (min-width: 55em) {
      width: 50%;
      padding: 0 6rem;
    }
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;

    @media screen and (min-width: 55em) {
      font-size: 3rem;
    }
  }

  &__details {
    font-size: 1.3rem;
    font-weight: 400;
    color: $mainTransparentWhite;
    margin: 2rem 0;
    line-height: 1.6;
    word-spacing: 0.4rem;

    @media screen and (min-width: 55em) {
      margin: 3rem 0;
      font-size: 1.4;
    }
  }
}

.features {
  margin-top: 3.5rem;

  @media screen and (min-width: 55em) {
    display: flex;
    align-items: center;
    margin-top: 6rem;
  }

  div:not(:last-child) {
    margin-bottom: 2.5rem;

    @media screen and (min-width: 55em) {
      margin-bottom: 0;
      margin-right: 6rem;
    }
  }

  h2 {
    font-size: 2rem;

    @media screen and (min-width: 55em) {
      font-size: 2.2rem;
    }
  }

  p {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: $statTransparentWhite;
    text-transform: uppercase;
    margin-top: 0.5rem;

    @media screen and (min-width: 55em) {
      letter-spacing: 1px;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
  margin: 4rem auto 1rem;

  @media screen and (min-width: 55em) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  a {
    color: rgb(252, 9, 9);
  }
}
